

.postForm {
    justify-content: center;
}


.posts {
    display: flex;
    flex-direction: column-reverse;
    
}


.post {
    margin: 0 25%;
    flex-basis: 50%;
}

.postImage {
    max-width: 50%;
    max-height: 50%;
}





